
@import "tailwindcss";

@layer utilities {
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }

  /* Hide scrollbars but keep scrolling */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

body {
  font-family: 'Montserrat', sans-serif;

}
