
@import "tailwindcss";

@layer utilities {
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}

body {
  font-family: 'Montserrat', sans-serif;

}
